@import "vars"; //переменные
@import "libs"; //библиотеки css
@import "fonts"; //шрифты
@import "global"; //глобальные стили

/* ==========================================HEADER=============================================== */
.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-subtitle,
.slider-item__info-subtext {
  margin-bottom: 5px;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 46px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows-prev {
  right: 125px;
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 30px;
  max-width: 920px;
  width: 100%;

  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  padding-top: 6px;
  border-top: 4px solid #fff;

  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#fff, .25);
  height: 100vh;
  text-align: center;

  .logo {
    margin-bottom: 50px;
  }
}

.header-title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.menu-btn{
  display: none;
  box-shadow: 0px 1px 3px 1px $green;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  right: 82px;
  top: 40px;
  z-index: 5;
  &.active{
    .menu-btn-line:first-child{
      transform: translate(1px, 6px) rotate(-45deg);
    }
    .menu-btn-line:nth-child(2){
      display: none;
    }
    .menu-btn-line:last-child{
      transform: translate(1px, -2px)  rotate(45deg);
    }
  }
  &:hover{
    box-shadow: 1px 1px 35px 1px rgba($green, 0.7);
  }
  &__inner{
    width: 40px;
  }
  .menu-btn-line{
    height: 4px;
    background-color: $green;
    margin-bottom: 5px;
    border-radius: 50%;
    
  }
}
.menu {
  &__list {
    text-align: center;

    a {
      color: #fff;

      span {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 3px;
        padding-top: 2px;
        margin-bottom: 37px;
        text-transform: capitalize;
      }

      &:hover {
        color: $green;
      }
    }
  }
}

.header__search {
  margin-bottom: 20px;
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  margin-bottom: 30px;

  span {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
  }
}

.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  font-weight: 300;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 14px;
    background-image: url(../img/header/map-marker.svg);
    left: 0;
    top: 0;

  }
}

.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  bottom: 40px;
  left: 210px;
  z-index: 5;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 8s infinite;
  animation-delay: 5s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}


/* ==========================================================SURF=============================================================== */
.surf {
  background-image: url(../img/surf/point-marker.png);
  background-repeat: no-repeat;
  background-position: right 200px;
}

.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -50px;
}

.surf-box {
  &__wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
}

.surf-slider {
  padding-top: 100px;

  .slider-arrows {
    top: 50px;
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 82px;
    }
  }

  .slick-current {
    .serf-box__inner-btn {
      display: block;
    }

    .serf-box__inner {
      background-color: rgba(#1C2121, .3);
    }
  }
}

.serf-box__inner {
  min-height: 750px;
  background-color: rgba(#1C2121, .85);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  bottom: 0;
  transition: all 1s;

  &:hover {
    background-color: rgba(#1C2121, .3);

    .serf-box__inner-btn {
      display: block;
    }
  }
}

.serf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.serf-box__inner-location {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  white-space: nowrap;
  position: absolute;
  left: 40px;
  bottom: 80px;

  span {
    font-weight: 100;
  }
}

.serf-box__inner-btn {
  display: none;
  position: absolute;
  text-align: center;
  bottom: 25px;
  left: 0;
  right: 0;
}
.btn{
  span {
    padding: 17px 57px 20px 17px;
    background-color: $green;
    margin-left: 19px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url("../img/header/arrow-next.svg");
      top: 50%;
      right: 17px;
      transform: translateY(-12px);
    }
  }
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../img/surf/world-map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  .slick-list {
    min-height: 635px;
    overflow: visible;
  }

  .slick-current {
    .slider-dots__content {
      display: block;
      position: relative;
      z-index: 5;
    }
  }
}

.slider-dots__circle {
  width: 23px;
  height: 23px;
  background-color: $green;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content {
  display: none;
  width: 285px;
  padding: 32px 30px 0 32px;
  background-color: rgba(#000, 0.7);
  border-radius: 10px;
  position: absolute;
  top: -250px;
  transform: translateX(-50%);
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -26px;
    left: 49.9%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .slider-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
}

.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $green;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.slider-dots__content-subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: capitalize;
}

.slider-dots__content-item {
  text-align: center;

  img {
    margin: 0 auto;
  }

  .slider-dots__content-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }

  .slider-dots__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
  }

}

.slider-dots {
  position: relative;
}

.slider-dots--1 {
  top: 335px;
  left: 0;

  .slider-dots__content {
    transform: translateX(0px);

    &::before {
      left: -0.5px;
    }
  }
}

.slider-dots--2 {
  top: 275px;
  left: 0;

  .slider-dots__circle {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -23px;
      top: -15px;
      background-image: url(../img/surf/point-map.png);
      width: 14px;
      height: 17px;
    }
  }
}

.slider-dots--3 {
  top: 320px;
  left: 22px;
}

.slider-dots--4 {
  top: 495px;
  left: -36px;
}

.slider-dots--5 {
  top: 229px;
  left: -62px;
}

.slider-dots--6 {
  top: 555px;
  left: -115px;
}

.slider-dots--7 {
  top: 373px;
  left: -77px
}

.slider-dots--8 {
  top: 500px;
  left: 20px;

  .slider-dots__content {
    transform: translateX(-100%);

    &::before {
      left: auto;
      right: -23.5px;
    }
  }
}



/* ======================================================================TRAVEL===================================================== */
.holder{
  background-image: url(../img/travel/cocktail.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  &.sleep{
    background-image: url(../img/sleep/flower.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 125px;
  }
  .slider-arrows{
    top: 170px;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}
.holder-slider__head{
  background-repeat: no-repeat;
  width: 100%;
  min-height: 780px;
}
.holder-slider__descr{
  padding: 140px 0 0 132px;
  margin-top: -255px;
  min-height: 420px;
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 20px;
  background-size: contain;

  .descr{
    padding-left: 5px;
    min-width: 100px;
    .headline-right{
      margin-bottom: 10px;
    }
    .descr__head{
      position: relative;
      font-weight: 800;
      font-size: 40px;
      .descr__head-img{
        display: inline-block;
        padding-left: 20px;
        img{
          display: inline-block;
        }
      }
    }
  }
}
  .holder-slider__subtitle{
    text-align: right;
    padding-right: 80px;
    padding-top: 70px;
  }
  .holder-slider__info-item{
    position: relative;
    min-height: 200px;
    margin-bottom: 75px;
    padding-top: 20px;
  }
.holder-slider__info{
  display: flex;
  justify-content: space-around;
  .holder-slider__info-subtitle{
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    transform: rotate(-90deg);
    text-align: right;
    top: 115px;
    left: -100px;
    width: 200px;
    height: 0;
    white-space: nowrap;
   
  }
 
  .holder-slider__info-title{
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding-left: 40px;
    width: 240px;
    .holder-pricing__span{
      text-align: right;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 5.25px;
      opacity: 0.75;
    }
  }
}
.holder-slider-btn{
  text-align: center;
  padding: 20px
}

/*======================================================== Shop============================================================ */
.shop{
  background-image: url(../img/shop/backgr.png);
  background-repeat: no-repeat;
  background-position: right center;
  padding-bottom: 250px;
  .slider-arrows{
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
}

.descr__shop{
  padding-top: 200px;
  .descr__head-shop{
    max-width: 350px;
  }
  .shop__slider-price{
    margin-top: 50px;
  } 
}
.shop__slider-inner{
  display: flex;
}
.shop__slider-info{
  max-width: 480px;
  width: 100%;
  margin-right: 40px;
}
.shop__slider-price{
  margin-bottom: 75px;
  .descr__head-img{
    margin-left: -20px
  }
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}
.shop__slider-content{
  padding-left: 160px;
  display: flex;
  align-items: flex-end;
}
.shop__extras-inner{
  display: flex;
  align-items: center;
}
.shop__extras{
  padding-left: 150px;;
}
.shop__extras-title{
  font-weight: 800;
font-size: 28px;
line-height: 40px;
margin-bottom: 25px;
}
.shop__extras-box{
  text-align: center;
  margin-right: 60px;
  .shop__extras-img{
    width: 103px;
    height: 105px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
  .shop__extras-name{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
  }
  .shop__extras-price{
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
  }
}
.surfboard{
  position: relative;
  .surfboard-box{
    position: absolute;
    
  }
  .surfboard-box--1{
    left: 166px;
    top: 215px;
  }
  .surfboard-box--2{
    left: 1px;
    top: 300px;
    }
    
    .surfboard-box--3{
      left: 50px !important;
      top: 610px;
      .surfboard-box__content{
        top: -2px;
      }
      }
}
  .surfboard-box__circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    &.active{
      .circle-row{
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }
  .circle-row{
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    & + .circle-row{
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }


.surfboard-box__circle.active + .surfboard-box__content {
 display: block;
}
.surfboard-box__content{
  display: none;
  position: absolute;
  width: 375px;
  margin-left: 20px;
  padding-left: 120px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  top: -15px;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 30px;
    top: 50%;
    opacity: 0.5;
  }
}

/* ==============================Footer====================================== */
.footer{
  text-align: center;
  padding-bottom: 70px;
  .btn-footer{
    margin-bottom: 52px;
    span{
      padding-right: 20px;
    }
    span::after{
      content: none;
    }
  }
}
.footer__copyright{
  font-weight: 300;
font-size: 12px;
line-height: 14px;
letter-spacing: 1.05px;
opacity: 0.5;
}

@import "media"; //медиа запросы